<html>

<head>
    <title>Hide And Show Example </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script>
         angular.module("myApp", []).controller("demoController", function ($scope) {
            $scope.x = false;
            $scope.y = false;
            $scope.z = false;
        });
    </script>
</head>

<body ng-app="myApp" ng-controller="demoController">
    <h2>Usage of ng-disabled</h2>
    <input type="checkBox" ng-model="x" /> Are you agree terms and conditions?
    <br/>
    <input type="button" ng-disabled="!x" value="Register" />
    <hr/>
  
    <h2>Usage of ng-show</h2> <a href="" ng-click="y=!y">Enter adhar card</a>
    <br/>
    <div ng-show="y"> This Div Contains User Details. </div>
    <hr/>
   
    <h3>Usage of ng-hide</h3> <a href="" ng-click="z=!z">Hide/show product details</a>
    <br/>
    <div id="div1" ng-hide="z"> Product Name
        <hr/> <span>Product Details are present in this section</span>
        <br/> <img ng-src="Images/image1.jpg" height="50px" width="80px" border="2"> </div>
</body>

</html>